.sl-nav-header {
    display: flex;
    align-items: center;
    gap: var(--space-xs)
}

.sl-nav-header-icon {
    color: var(--gray-500);
    width: var(--icon-size-md);
    height: var(--icon-size-md);
}

.sl-nav-header-title{
    font-weight: 600;
    font-size: var(--font-size-md);
    color: var(--gray-500);
}
