<h2 mat-dialog-title class="center">Create new item</h2>
<mat-dialog-content>
    <p>Provide bug description</p>
    <form>
        <sl-list-select [items]="types()" label="Item type"/>
        <sl-section>
            <sl-text-input label="Header" placeholder="add descriptive header" [(value)]="bugHeader" name="bugHeader"/>
            <sl-markup-input label="Description" placeholder="insert description that will help identify the bug"/>
        </sl-section>
        <sl-section>
            <sl-toggle-list [items]="priotities()" label="Bug priority"/>
        </sl-section>
        <sl-section>
            <sl-list-select [items]="projects()" [multiple]="true" label="Projects"/>
        </sl-section>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCloseDialog()">Close</button>
    <!-- <button mat-button [mat-dialog-close]="animal()" cdkFocusInitial>Ok</button> -->
    <button mat-flat-button (click)="onSaveBug()">Add</button>
</mat-dialog-actions>