<div class="sl-side-nav-wrapper">
<div class="sl-side-nav" [expanded]="!collapsed()" [collapsed]="collapsed()">
    <sl-branding-section [collapsed]="collapsed()"></sl-branding-section>
    
    @if(mainSection()) {
        @if(!collapsed()){
            <span class="sl-section-title">{{mainSectionHeader()}}</span>
        }
        @for(section of mainSection(); track $index) {
            <sl-side-nav-link   [config]="section" 
                                [pageSync]="pageSync()"
                                [collapsed]="collapsed()"/>
        }
    }

    @if(infoSection()) {
        @if(!collapsed()){
            <span class="sl-section-title">{{infoSectionHeader()}}</span>
        }
        @for(section of infoSection(); track $index) {
            <sl-side-nav-link   [config]="section" 
                                [pageSync]="pageSync()"
                                [collapsed]="collapsed()"/>
        }
    }

    @if(userSection()) {
        @if(!collapsed()){
            <span class="sl-section-title">{{userSectionHeader()}}</span>
        }
        @for(section of userSection(); track $index) {
            <sl-side-nav-link   [config]="section" 
                                [pageSync]="pageSync()"
                                [collapsed]="collapsed()"/>
        }
    }

</div>
<button class="sl-side-nav-toggle" (click)="onCollapseToggle()">
    <span class="sl-icon-medium">{{ icon() }}</span>
</button>
</div>
