<mat-toolbar>
    <button mat-icon-button 
            (click)="onClick()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="application-name"> Sloth </span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item 
          class="menu-button">
          <mat-icon>settings</mat-icon>
          <span>Account settings</span>
        </button>
        <button mat-menu-item 
          class="menu-button"
          (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>