
<!-- text-input -->
<h3>Text input</h3>
<div class="control-wrapper">
    <div class="text-input-container">
        <div class="control-label">
            <label class="label">Label</label>
            <span class="required-tag">Required</span>
        </div>
        <div class="input">
            <span class="control-icon">home</span>
            <input type="text"/>
        </div>
    </div>    
</div>

<!-- password -->
<h3>Password</h3>
<div class="control-wrapper">
    <div class="password-container">
        <div class="control-label">
            <label class="label">Label</label>
            <span class="required-tag">Required</span>
        </div>
        <div class="input">
            <span class="control-icon">key</span>
            <input type="password"/>
            <span class="control-icon">visibility</span>
        </div>
    </div>    
</div>

<!-- text-area -->
<h3>Text area</h3>
<div class="control-wrapper">
    <div class="text-area-container">
        <div class="control-label">
            <label class="label">Label</label>
            <span class="required-tag">Required</span>
        </div>
        <div class="text-area">
            <div class="header">
                <div class="toggles">
                    <button type="button" class="toggle active">Write</button>
                    <button type="button" class="toggle">Preview</button>
                </div>
                <div class="helpers">
                    <button class="helper"><span>format_h1</span></button>
                    <button class="helper hover"><span>format_bold</span></button>
                    <button class="helper"><span>format_italic</span></button>
                    <button class="helper"><span>format_quote</span></button>
                    <button class="helper"><span>code</span></button>
                    <button class="helper"><span class="transform-negative-45">link</span></button>
                    <hr>
                    <button class="helper"><span>format_list_numbered</span></button>
                    <button class="helper"><span>format_list_bulleted</span></button>
                    <hr>
                    <button class="helper"><span class="transform-45">attach_file</span></button>
                    <button class="helper"><span>add_photo_alternate</span></button>
                </div>
            </div>
            <div class="input">
                <textarea></textarea>
            </div>
        </div>
    </div>    
</div>