.side-navigation {
    height: 100%;
    width: 100%;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.center {
    align-self: center;
    margin-bottom: 1.2rem;
}

.side-navigation sl-toggle {
    margin-top: auto;
    align-self: center;
}