.side-navigation {
    height: 100%;
    width: 100%;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.center {
    align-self: center;
    margin-bottom: 1.2rem;
}

.side-navigation mat-slide-toggle {
    margin-top: auto;
    align-self: center;
}

.mat-mdc-slide-toggle {
    --mdc-switch-selected-focus-state-layer-color: #D4AC0D;
    --mdc-switch-selected-handle-color: #DDBD3D;
    --mdc-switch-selected-hover-state-layer-color: #D4AC0D;
    --mdc-switch-selected-pressed-state-layer-color: #D4AC0D;
    --mdc-switch-selected-focus-handle-color: #D4AC0D;
    --mdc-switch-selected-hover-handle-color: #D4AC0D;
    --mdc-switch-selected-pressed-handle-color: #D4AC0D;
    --mdc-switch-selected-focus-track-color: #A4DDEF;
    --mdc-switch-selected-hover-track-color: #A4DDEF;
    --mdc-switch-selected-pressed-track-color: #A4DDEF;
    --mdc-switch-selected-track-color: #A4DDEF;
}