<div class="sl-side-nav" [class]="{
    'sl-side-nav-expanded': !collapsed(),
    'sl-side-nav-collapsed': collapsed(),
}">
    <sl-toggle-icon class="sl-toggle-side-nav sl-shadow" [config]="toggleControl()" (onClick)="onToggleExpander()"></sl-toggle-icon>
    <!-- add application logo here  -->
    <nav>
        @if(hasMainNavigation()) {
            @if(!collapsed()){
                <span>Main</span>
            }
            @for(nav of mainNavigation(); track $index) {
                <sl-side-nav 
                [collapsed]="collapsed()"
                [config]="nav"/>
            }
        }
    
        @if(hasUserNavigations()) {
            @if(!collapsed()){
                <span>User</span>
            }
            @for(nav of userNavigation(); track $index) {
                <sl-side-nav 
                [collapsed]="collapsed()"
                [config]="nav"/>
            }
        }
        
        @if(hasInfoNavigations()) {
            @if(!collapsed()){
                <span>Settings</span>
            }
            @for(nav of infoNavigation(); track $index) {
                <sl-side-nav 
                [collapsed]="collapsed()"
                [config]="nav"/>
            }
        }
    </nav>
</div>
