<div class="bug-container">
    @if(formGroup()) {
        <sl-form 
            [formGroup]="formGroup()!"
            [header]="mainHeader()">
            <div class="action-list">
                <sl-button label="Claim"  displayType="flat"/>
                <sl-button label="Save form" (onClick)="onSaveForm()"/>
            </div>
            <sl-section
                header="Description"
                (action)="editDescriptionChange()"
                [hasActionButton]="true"
                actionButtonIcon="edit">
                <sl-markup-input 
                    name="description"
                    formControlName="description" 
                    [formMode]="descriptionMode()"/>
                <section>
                    <sl-markup-input 
                        label="Comment"
                        [(value)]="comment"/>
                    <sl-button  
                        label="Add comment"
                        (onClick)="onAddComment()"/>
                </section>
            </sl-section>
            <mat-divider></mat-divider>
            <sl-section>
                <sl-comment-list formArrayName="comments"/>
            </sl-section>
        </sl-form>
        <sl-side-form [formGroup]="formGroup()!">
            <sl-side-section header="Status:"  
                            formGroupName="status">
                <sl-tag formControlName="tag"
                        backgroundControlName="tagColor" 
                        fallbackValue="Unassigned"/>
            </sl-side-section>
            <sl-side-section header="Current owner:" 
                            formGroupName="currentOwner">
                <sl-tag formControlName="fullName" 
                        fallbackValue="Unassigned"/>
            </sl-side-section>
            <sl-side-section header="Created by:" 
                            formGroupName="createdBy">
                <sl-tag  formControlName="fullName" 
                        fallbackValue="Missing"/>
            </sl-side-section>
            <sl-side-section header="Priority:" 
                            formGroupName="priority" >
                <sl-tag formControlName="tag" 
                        backgroundControlName="tagColor" 
                        fallbackValue="None"/>
            </sl-side-section>
            <sl-side-section header="Products:">
                <sl-tag-list tooltipControlName="description"
                            formArrayName="products"
                            formControlNames="name"/>
            </sl-side-section>
            <sl-side-section header="Functionalities:">
                <sl-tag-list  tooltipControlName="description"
                             formArrayName="functionalities"
                             backgroundControlName="tagColor"
                             formControlNames="tag"/>
            </sl-side-section>
        </sl-side-form>
    }
    @else {
        <p>Loading...</p>
    }
</div>