<div class="bug-container">
    @if(formGroup()) {
        <sl-form [formGroup]="formGroup()!">
            <section class="bug-header">
                <p>{{headerID()}}</p>
                <p>{{ this.formGroup().value.header }}</p>
            </section>

            <div class="action-list">
                <sl-button label="Save" displayType="flat" (onClick)="onSaveForm()"/>
                <sl-button [label]="editMode()" (onClick)="onToggleEditMode()"/>
                <sl-button label="Claim"/>
            </div>
            <sl-section header="Description:">
                @if(isEditMode()) {
                    <sl-text-input formControlName="header"
                                    label="Header"
                                    [formMode]="formMode()"/>
                }
                <sl-markup-input 
                    name="description"
                    label="Description"
                    formControlName="description"
                    [formMode]="formMode()"/>
                <section>
                    <sl-markup-input 
                        label="Comment"
                        [(value)]="comment"/>
                    <sl-button  
                        label="Add comment"
                        (onClick)="onAddComment()"/>
                </section>
            </sl-section>
            <mat-divider class="comment-divider"></mat-divider>
            <sl-section header="Comments:">
                <sl-comment-list formArrayName="comments"
                                 commentIDKey="commentID"
                                 commentKey="comment"
                                 commentedByKey="commentedByFullName"
                                 commentedByUserNameKey="commentedBy"
                                 commentDateKey="commentDate"/>
            </sl-section>
        </sl-form>
        <sl-side-form [formGroup]="formGroup()!">
            <sl-side-section header="Status:"  
                            formGroupName="status">
                <sl-tag formControlName="tag"
                        backgroundControlName="tagColor" 
                        fallbackValue="Unassigned"/>
            </sl-side-section>
            <sl-side-section header="Current owner:" 
                            formGroupName="currentOwner">
                <sl-tag formControlName="fullName" 
                        fallbackValue="Unassigned"/>
            </sl-side-section>
            <sl-side-section header="Created by:" 
                            formGroupName="createdBy">
                <sl-tag  formControlName="fullName" 
                        fallbackValue="Missing"/>
            </sl-side-section>
            <sl-side-section header="Priority:" 
                            formGroupName="priority" >
                <sl-tag formControlName="tag" 
                        backgroundControlName="tagColor" 
                        fallbackValue="None"/>
            </sl-side-section>
            <sl-side-section header="Products:">
                <sl-tag-list tooltipControlName="description"
                            formArrayName="products"
                            formControlNames="name"/>
            </sl-side-section>
            <sl-side-section header="Functionalities:">
                <sl-tag-list  tooltipControlName="description"
                             formArrayName="functionalities"
                             backgroundControlName="tagColor"
                             formControlNames="tag"/>
            </sl-side-section>
        </sl-side-form>
    }
    @else {
        <p>Loading...</p>
    }
</div>