<div class="bug-container">
    @if(formGroup) {
        <sl-form [formGroup]="formGroup">
            <section class="bug-header">
                <p>{{headerID()}}</p>
                <p>{{ this.formGroup.value.header }}</p>
                @if(isRTS()) {
                    <sl-tag value="RTS" backgroundColor="#851d22"/>
                }
                @if(isBlocker()) {
                    <sl-tag value="Blocker" backgroundColor="#851d22"/>
                }
            </section>

            <div class="action-list">
                <sl-button label="Save" 
                            displayType="flat" 
                            buttonClass="success"
                            [isDisabled]="this.formGroup.pristine"
                            (onClick)="onSaveForm()"/>
                <sl-button [label]="editMode()" (onClick)="onToggleEditMode()"/>
                @if(isClaimed()) {
                    <sl-button label="Abandon"
                                (onClick)="onAbandonBug()"/>
                }
                @else {
                    <sl-button label="Claim"
                                (onClick)="onClaimBug()"/>
                }
                @if(canDelete()) {
                    <sl-button label="Delete" 
                                buttonClass="error" 
                                (onClick)="onDeleteBug()"/>
                }
            </div>
            <sl-section header="Description:">
                @if(isEditMode()) {
                    <sl-text-input formControlName="header"s
                                    label="Header"
                                    [formMode]="formMode()"/>
                }
                <sl-markdown-input 
                    name="description"
                    label="Description"
                    formControlName="description"
                    [formMode]="formMode()"/>
                <section>
                    <sl-markdown-input 
                        (keyDownEnter)="onAddComment()"
                        label="Comment"
                        [(value)]="comment"/>
                    <sl-button  
                        label="Add comment"
                        (onClick)="onAddComment()"/>
                </section>
            </sl-section>
            <mat-divider class="comment-divider"></mat-divider>
            <sl-section header="Comments:">
                <sl-comment-list [comments]="comments()"
                                 commentIDKey="commentID"
                                 commentTextKey="comment"
                                 commentedByKey="commentedByFullName"
                                 commentedByUserNameKey="commentedBy"
                                 commentDateKey="commentDate"/>
            </sl-section>
        </sl-form>
        <sl-side-form [formGroup]="formGroup">
            <sl-side-section header="Status:"  
                             formGroupName="status">         
                @if(isEditMode()) {
                    <sl-list-select [items]="statuses()"
                                    displayKey="tag"
                                    valueKey="statusID"
                                    [value]="currentStatusID()"
                                    (valueChange)="onStatusChange($event)"/>
                } 
                @else {
                    <sl-tag tagKey="tag"
                            backgroundKey="tagColor" 
                            fallbackValue="Unassigned"/>
                }
            </sl-side-section>

            @if(isRTS()) {
                <sl-side-section header="Client:" 
                                formGroupName="client" >
                @if(isEditMode()) {
                    <sl-list-select [items]="clients()"
                                    displayKey="name"
                                    valueKey="clientID"
                                    [value]="currentClientID()"
                                    (valueChange)="onClientChange($event)"/>
                }
                @else {
                    <sl-tag tagKey="name" 
                            fallbackValue="None"/>
                }
                </sl-side-section>
            }
            <sl-side-section header="Assignees:">
                <sl-tag-list [tags]="assignees()"
                             tagKey="assignedToFullName"/>
            </sl-side-section>
            <sl-side-section header="Created by:" 
                             formGroupName="createdBy">
                <sl-tag  tagKey="fullName" 
                        fallbackValue="Missing"/>
            </sl-side-section>
            <sl-side-section header="Priority:" 
                             formGroupName="priority" >
                @if(isEditMode()) {
                    <sl-toggle-list [items]="priorities()"
                                    displayKey="tag"
                                    valueKey="priorityID"
                                    backgroundKey="tagColor"
                                    [value]="currentPriorityID()"
                                    (valueChange)="onPriorityChange($event)"/>
                }
                @else {
                    <sl-tag tagKey="tag" 
                            backgroundKey="tagColor" 
                            fallbackValue="None"/>
                }
            </sl-side-section>
            <sl-side-section header="Products:">
                @if(isEditMode()) {
                    <sl-list-select [items]="products()"
                                    [multiple]="true"
                                    displayKey="name"
                                    valueKey="productID"
                                    [value]="currentProductIDs()"
                                    (valueChange)="onProductsChange($event)"/>
                }
                @else {
                    <sl-tag-list formArrayName="products"
                                 tooltipKey="description"
                                 tagKey="name"/>
                }
            </sl-side-section>
            <sl-side-section header="Functionalities:">
                @if(isEditMode()) {
                    <sl-list-select [items]="functionalities()"
                                    [multiple]="true"
                                    displayKey="tag"
                                    groupKey="product"
                                    valueKey="functionalityID"
                                    [value]="currentFunctionalityIDs()"
                                    (valueChange)="onFunctionalityChange($event)"/>
                }
                @else {
                    <sl-tag-list    formArrayName="functionalities"
                                    tooltipKey="description"
                                    backgroundKey="tagColor"
                                    tagKey="tag"/>
                }
            </sl-side-section>
        </sl-side-form>
    }
    @else {
        <p>Please wait...</p>
    }
</div>