<mat-toolbar>
    <button mat-flat-button class="add-button" (click)="addBug()">Add bug</button>
    <button mat-flat-button class="add-button" (click)="addProject()">Add project</button>
    <button mat-flat-button class="add-button" (click)="addQuery()">Add query</button>
    <button mat-flat-button class="add-button" (click)="addTask()">Add task</button>
    <button mat-flat-button class="add-button" (click)="addTest()">Add test</button>
    <button mat-flat-button class="add-button" (click)="addUser()">Add user</button>
    <button mat-flat-button class="add-button" (click)="addRelease()">Add release</button>
    <button mat-flat-button class="add-button" (click)="addProduct()">Add product</button>
    <a mat-button class="navigation-header-link">My items</a>
</mat-toolbar>