<div class="sl-page sl-page-primary sl-center-content">
    <div class="sl-simple-form sl-semi-bold-text sl-simple-form-centered">
        <!-- <sl-branding-section [collapsed]="true"></sl-branding-section> -->
        <p>Oops, Sloth is Feeling a Bit Lazy Today!</p>
        <p>Looks like our beloved creature is taking an unplanned nap.</p>
        <p>The services are temporarily down, which means no bug tracking, task updates, or that sweet feeling of crossing something off your to-do list... for now.</p>
    </div>
</div>