.sl-side-nav {
    position: relative;
    margin: var(--space-xxs);
    padding: var(--space-xs) var(--space-xs);
    transition: all 0.5s;
    background-color: var(--gray-200);
    border-radius: var(--border-radius-sm);
    height: 100%;
    
}

.sl-side-nav-exp {
    width: var(--nav-exp);
}

.sl-side-nav-col {
    width: var(--nav-col);
}

.sl-side-nav-buttons span {
    margin-top: var(--space-md);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
    opacity: 0.6;
}

.sl-side-nav-buttons {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs)
}

.sl-side-nav-toggle {
    all: unset;
    position: absolute;
    top: 10px;
    right: -10px;
    font-size: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--gray-200);
    border-radius: var(--border-radius-sm);
    z-index: 9999;
}

.sl-side-nav-toggle span {
    font-family: "Material Symbols Outlined" !important;
    font-size: var(--font-size-md);
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}