<h2 mat-dialog-title class="center">Create new job</h2>

<mat-dialog-content>
    <p>Provide job description</p>
    <form [formGroup]="jobForm">
        <mat-stepper [linear]="false" #stepper>
            <mat-step [stepControl]="jobForm">
                <ng-template class="step" matStepLabel>Basic information</ng-template>
                <sl-list-select [items]="jobTypes()" 
                                label="Job type" 
                                formControlName="type"/>
                <sl-text-input  label="Header" 
                                formControlName="header"/> 
                <sl-markup-input label="Description" 
                                formControlName="description"/>
                <sl-list-select [items]="clients()" 
                                valueKey="clientID"
                                displayKey="name"
                                [multiple]="false" 
                                label="Client"
                                formControlName="clientID"/>
            </mat-step>
            <mat-step [stepControl]="jobForm">
                <ng-template matStepLabel>Details</ng-template>
                <sl-toggle-list [items]="priorities()" 
                                valueKey="priorityID"
                                displayKey="tag"
                                backgroundKey="tagColor"
                                label="Bug priority"
                                formControlName="priorityID"/>
                <sl-list-select [items]="products()" 
                                valueKey="productID"
                                displayKey="name"
                                [multiple]="true" 
                                label="Products"
                                formControlName="products"/>
                <sl-list-select [items]="functionalities()" 
                                valueKey="functionalityID"
                                displayKey="name"
                                groupKey="product"
                                [multiple]="true" 
                                label="Functionalities"
                                formControlName="functionalities"/>
                <sl-datetime-picker label="Raised date"
                                    formControlName="raisedDate"/>
            </mat-step>
            <mat-step [stepControl]="jobForm">
                <ng-template matStepLabel>Attach file</ng-template>
                <sl-upload-input    label="Files"
                                    placeholder="Upload files"
                                    formControlName="files"/>
            </mat-step>
        </mat-stepper>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCloseDialog()">Close</button>
    <button mat-flat-button (click)="onSaveBug()">Add</button>
</mat-dialog-actions>