.auto-fit-column {
    white-space: nowrap;
    width: 1%;
}

.bugs-container {
    margin-top: 1.4rem;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

.bug-table {
    border: solid 0.02rem var(--mat-sys-outline-variant);
    border-radius: 1rem;
    overflow: hidden;
}

.content-list {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.mat-mdc-header-cell {
    background-color: var(--mat-sys-surface-dim) !important;
    border-bottom-color: var(--mat-sys-outline-variant);
}

.mat-mdc-cell {
    border-bottom-color: var(--mat-sys-outline-variant);
}